#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #f4f4f9;
  background-color: #121212;
  margin: 0;
  padding: 0;
}

header {
  color: #ffa500;
  padding: 2rem 0;
  text-align: center;

}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}

nav a {
  text-decoration: none;
  color: #ffa500;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffcc80;
}

section {
  padding: 2rem;
  margin: 1rem 0;
  background: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

section h2 {
  color: #ffa500;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

section#about p,
section#languages p,
section#contact p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

section > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section a {
  padding: 1rem;
  background: #2a2a2a;
  border: 1px solid #333;
  border-radius: 4px;
  transition: background 0.3s;
  text-decoration: none;
  color: #f4f4f9;
}

section a:hover {
  background: #333;
  color: #ffa500;
}
